html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.contenedor {
  display: flex;
  padding-inline: 0;
  height: 100vh;
  width: 100%;
}

.columna {
  flex: 1;
  padding: 20px;
  background-image: url('/assets/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.columna2 {
  flex: 1;
  display: flex;
  align-items: center;
}
.columna h1{
    font-size: 50px;
    font-family: "Archivo Black", sans-serif;
}
.columna p{
    font-size: 18px;
}
.carousel-item img {
  max-width: 700px;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}
.carousel-container{
  max-width: 700px;
  height: 350px;
  display: block;
  margin: 0 auto;
}
.container-login{
  background-color: #ffffff;
  padding-inline: 10%;
  padding-top: 5%;
  height: 100%;
}
.container-login button{
    margin-bottom: 2%;
}
.container-login label{
  display: block;
  margin-bottom: 5px;
  color: black;
}
.container-login input{
    width: 100%;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    border: 2px solid rgb(184, 184, 184);
    height: 35px;
}

.botones .btn.active,
.botones .btn:focus {
  background-color: #0052a6;
  color: #fff;
  border-color: rgba(0,0,0,0.1);
}
.login-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}
.login-content img{
  height: 40px;
}
.login-content h1{
  font-size: 20px;
}
.btn-login{
  background-color: #0052a6;
  color: #ffffff;
}