.container img{
  height: 30px;
  margin-bottom: 4px;
  transition: transform 0.2s ease;
}
.container img:hover{
   transform: scale(1.1);
}
.title h1{
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
}
.title{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}
.title p{
  color: rgb(95, 95, 95);
}
